body{
    font-family: 'Roboto Condensed', sans-serif;
    background-color: #1F1F1F;
    color: #c2b7b5;
}

h1{
    font-size: 5vh;
    color: white;
}

canvas{
    background-color: #1F1F1F;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}