/* Make the background blured when the sidebars are selected */

* {
  font-family: "Oswald", sans-serif;
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

body {
  color: white;
  background-color: #121212;
  margin: 0;
  padding: 0;
  perspective: 1px;
  transform-style: preserve-3d;
  height: 100%;
  width: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  animation: transistionIn 1s;
}

header {
  box-sizing: border-box;
  min-height: 100vh;
  position: relative;
  transform-style: inherit;
  width: 100vw;
  text-align: center;
  text-transform: uppercase;
}

header h1 {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header,
header:before {
  background: 50% 50% / cover;
}

header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: block;
  background: url(Images/RandomShapesFinal.gif);
  background-size: cover;
  transform-origin: center center 0;
  transform: translateZ(-1px) scale(2);
  z-index: -1;
  min-height: 100vh;
}

.container {
  z-index: 2;
  position: absolute;
  top: 100vh;
  background: black;
  line-height: 30px;
  font-weight: lighter;
  padding: 40px;
  color: #e0e0e0;
}

#container-2 {
  top: 180vh;
}

.container-img {
  z-index: 2;
  top: 135vh;
  position: absolute;
  width: 100%;
}

/* Place Holder Img */
#container-img-Graph {
  position: relative;
  width: 683px;
  height: 360px;
  left: 0;
  margin-left: 50px;
}

/* Place Holder Img */
#container-img-Zoom {
  position: absolute;
  width: 683px;
  height: 360px;
  right: 0;
  margin-right: 50px;
}

#psuedo-header {
  position: sticky;
  width: 100%;
  height: 100px;
  background-color: #1f1f1f;
}

.SideBar {
  visibility: visible;
  position: absolute;
  z-index: 3;
  height: 100%;
  width: 0px;
  margin-top: -100px;
  background-color: #1f1f1f;
  transition: 0.2s;
  text-align: center;
}
.LinkTitle {
  position: absolute;
  margin-top: 25px;
  margin-left: -90px;
  font-size: x-large;
  color: #e0e0e0;
  white-space: nowrap;
}

#Right-SideBar {
  visibility: visible;
  right: 0;
  box-shadow: -2px 2px 2px black;
}
.link-img {
  width: 215px;
  height: 140px;
}

.img {
  padding: 5px;
  image-rendering: crisp-edges;
}

.img:hover {
  background-color: #363636;
  border-radius: 50%;
}

#bar-img {
  image-rendering: crisp-edges;
  width: 35px;
  height: 35px;
}
#dot-img {
  image-rendering: crisp-edges;
  width: 42px;
  height: 35px;
}

.Button-Close {
  float: right;
  border: 0;
  top: 0;
  right: 0px;
  font-size: 20px;
  background: #1f1f1f;
  color: #e0e0e0;
  padding: 10px 15px;
  font-weight: 500;
  font-size: 50px;
  cursor: pointer;
}

.Button-Close:hover {
  background: #363636;
}

.LinkItem {
  color: #e0e0e0;
  border: 0;
  background-color: #1f1f1f;
  padding-top: 30px;
  width: 100%;
  padding-bottom: 30px;
  margin-bottom: 10px;
  font-weight: 1000px;
  font-size: large;
}
.LinkItem:hover {
  background-color: #363636;
}
#link-run-euclid {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 100px;
  margin-right: 60px;
  width: 500px;
  border-radius: 20px;
  cursor: pointer;
}

select{
  background-color: #363636;
  border: 0;
  border-top: 1px solid #4d4c4c;
  border-bottom: 1px solid #4d4c4c;
  color: #e0e0e0;
  border-radius: 25px;
}
h1 {
  font-size: xx-large;
}
p {
  line-height: 30px;
}
::-webkit-scrollbar {
  width: 10px;
  box-shadow: 0px 0px 10px black;
}
::-webkit-scrollbar-track {
  background: #1f1f1f;
}
::-webkit-scrollbar-thumb {
  background: #4b4b4b;
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: #959595;
}


@keyframes transistionIn{
	from{
		opacity: 0;
		transform: rotateX(-10deg);
	}

	to{
		opacity: 1;
		transform: rotateX(0);
	}
}